body {
  background-color: #f0f0f0; /* Light gray background */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333; /* Dark gray text color */
}

.container {
  background-color: #f5f5f5; /* Lighter gray background for the form */
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

form {
  margin-top: 20px;
}

.question-container {
  background-color: #fff; /* White background for individual question containers */
  margin-bottom: 20px;
  padding: 10px; /* Add padding to separate question containers */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 4px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-size: 18px;
}

input[type="text"] {
  width: 90%; /* Adjust the width as needed */
  padding: 10px;
  margin: 4px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.error-message {
  color: red;
  font-size: 14px;
  display: block;
  margin-top: 4px;
}

button {
  background-color: #0078d4; /* Light blue button background */
  color: #fff; /* White text color */
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block; /* Change display to inline-block */
  margin-right: 10px; /* Add margin between buttons */
}

button:hover {
  background-color: #005a9e; /* Darker blue on hover */
}

@media (max-width: 768px) {
  /* Responsive styles for smaller screens */
  .container {
    max-width: 90%;
  }
}
