/* Main CSS styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333; /* Default text color */
  background-color: #160053; /* Default background color */
}

.container {
  background-color: #f5f5f5; /* Lighter gray background for the form */
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

form {
  margin-top: 20px;
}

.question-container {
  background-color: #fff; /* White background for individual question containers */
  margin-bottom: 20px;
  padding: 10px; /* Add padding to separate question containers */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 4px;
  position: relative;
}

label {
  display: block;
  margin-bottom: 6px;
  font-size: 18px;
}

input[type="text"] {
  width: 96%; /* Adjust the width to fill the container */
  padding: 10px;
  margin: 4px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.error-message {
  color: red;
  font-size: 14px;
  display: block;
  margin-top: 4px;
}

.input-info-container {
  display: flex;
  align-items: center; /* Align items vertically */
}

.input-info-container input {
  flex: 1; /* Take remaining space */
}

.info-icon {
  margin-left: 10px; /* Adjust as needed */
  cursor: pointer; /* Change cursor to pointer */
}

/* Adjust the tooltip styling */

.tooltip {
  position: absolute;
  top: 50%; /* Center vertically */
  left: calc(100% + 5px); /* Adjusted position to the right of the info icon */
  transform: translateY(-50%); /* Center vertically */
  background-color: #333; /* Dark background color */
  color: #fff; /* White text color */
  padding: 5px; /* Add padding */
  border-radius: 4px; /* Add border radius */
  font-size: 14px; /* Font size */
  display: none; /* Hide by default */
  width: auto; /* Make the width dynamic */
}

.info-icon:hover + .tooltip {
  display: block; /* Show on hover */
}

button {
  background-color: #CD7F32; /* Bronze button background */
  color: #fff; /* White text color */
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #005a9e; /* Darker blue on hover */
}

/* Container for buttons */
.button-container {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  margin-top: 10px; /* Adjust as needed */
}

/* Dashboard button */
.button-container a {
  text-decoration: none; /* Remove underline from the link */
  padding: 8px 16px; /* Add padding to the button */
  border: 1px solid #2c3e50; /* Add border */
  border-radius: 5px; /* Add border radius */
  background-color: #34495e; /* Dark blue background color */
  color: #fff; /* White text color */
  margin-left: 5px;
  margin-right: 5px;
}

/* Dark mode toggle button */
.button-container button#theme-toggle {
  padding: 8px 16px; /* Add padding to the button */
  border: none; /* Remove border */
  border-radius: 5px; /* Add border radius */
  background-color: #333; /* Dark background color */
  color: #fff; /* White text color */
  cursor: pointer; /* Add cursor pointer */
  margin-left: 10px; /* Adjust margin between buttons */
}

/* Additional styles for the dashboard page */
#answerContainer {
  background-color: #fff; /* White background for answer container */
  margin: 20px auto; /* Center the container */
  padding: 20px; /* Add padding */
  max-width: 800px; /* Increase maximum width for better readability */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.answer {
  margin-top: 20px; /* Add margin between answers */
}

.answer p {
  margin-bottom: 10px; /* Add margin below each answer paragraph */
}

input[type="number"] {
  width: 100px; /* Adjust the width for number inputs */
  padding: 8px; /* Add padding */
  margin-right: 10px; /* Add margin between input and button */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 4px; /* Add border radius */
  font-size: 16px; /* Font size */
}

@media (max-width: 768px) {
  /* Responsive styles for smaller screens */
  .container {
    max-width: 90%;
  }
}

/* Dark mode styles */
.dark-mode {
  background-color: #333; /* Dark background color */
  color: #fff; /* Light text color */
}

.dark-mode .container,
.dark-mode #answerContainer {
  background-color: #444; /* Darker background color */
}

.dark-mode .question-container {
  background-color: #555; /* Darker background color for question containers */
  border-color: #777; /* Darker border color */
}

.dark-mode label {
  color: #fff; /* Light text color for labels */
}

.dark-mode input[type="text"],
.dark-mode input[type="number"] {
  background-color: #666; /* Darker background color for text inputs */
  color: #fff; /* Light text color for text inputs */
  border-color: #777; /* Darker border color for text inputs */
}

.dark-mode .error-message {
  color: #ffaaaa; /* Light text color for error messages */
}

.dark-mode button {
  background-color: #005a9e; /* Dark blue button background */
}

.dark-mode button:hover {
  background-color: #cd7f32;
}

/* Login page styles */
.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 100px auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.login-container label {
  display: block;
  margin-bottom: 6px;
  font-size: 18px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
}

.login-container button {
  background-color: #cd7f32;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: calc(100% - 20px);
}

.login-container button:hover {
  background-color: #005a9e;
}
